contacto-send.html

<html>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta charset="utf-8"/>
  <title>SBD | Contacto</title>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&amp;display=swap" rel="stylesheet"/>
  <link href="css/bootstrap.css" rel="stylesheet"/>
  <!-- add favicon-->
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png"/>
  <link rel="manifest" href="img/favicon/site.webmanifest"/>
  <body>
    <header>
      <!---->
      <nav class="navbar navbar-expand-md fixed-top bg-white py-4 pb-lg-3 pt-lg-4 border-bottom">
        <div class="container"><a class="navbar-brand" href="./index.html">
            <embed src="img/logo.svg" type="image/png" alt="Logo"/></a>
          <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="nav nav-pills align-items-center d-lg-flex">
              <li class="nav-item me-lg-2 position-relative"><a class="nav-link" href="./index.html">HOME</a></li>
              <li class="nav-item me-lg-2 position-relative"><a class="nav-link" href="./nosotros.html">NOSOTROS</a></li>
              <li class="nav-item me-lg-2 position-relative"><a class="nav-link" href="./marcas.html">MARCAS</a></li>
              <li class="nav-item me-lg-2 position-relative"><a class="nav-link active" href="./contacto.html">CONTACTO</a></li>
              <li class="nav-item mt-4 mt-lg-auto ms-3"><a class="btn btn-dark d-flex align-items-center" href="./proximamente.html">LOGIN<img class="ms-2" src="icon/sbd/arrow-rigth.svg"/></a></li>
            </ul>
            <div class="d-flex justify-content-center d-lg-none mt-5"><a href="mailto:sbd@example.com" target="_blank"><img src="icon/sbd/email.svg"/></a><a class="mx-5" href="tel:00000000000" target="_blank"><img src="icon/sbd/headphone.svg"/></a><a href="https://wa.me/00000000000" target="_blank"><img src="icon/sbd/whatsapp.svg"/></a></div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="mb-lg-7 col-12 col-md-12 px-3 px-md-auto mb-1 bg-light pt-lg-8 pb-lg-6 pt-7 mt-4 pb-5">
        <div class="container">
          <h2 class="display-6 text-center fw-bold d-md-block d-none"><span>CANALES DE ATENCIÓN </span> <span class="fw-bold text-primary">SBD</span></h2>
          <h2 class="display-5 text-center fw-ligth d-md-none d-block">CANALES <br/> DE ATENCIÓN</h2>
          <div class="row mt-lg-6"><a class="text-decoration-none col-lg col-12 mt-5 mt-lg-0 text-center mb-lg-0 mb-5" href="tel:+541170780417"><img class="mx-auto d-block mb-lg-4 mb-3 w-15" src="icon/sbd/contacto/img.png"/>
              <h5 class="display-9 mt-lg-2 fw-light text-dark">+54 11 7078 0417</h5></a><a class="text-decoration-none col-lg col-12 mt-2 mt-lg-0 text-center" href="https://wa.me/541125582304"><img class="mx-auto d-block mb-lg-4 w-15" src="icon/sbd/contacto/img_2.png"/>
              <h5 class="display-9 mt-lg-2 mt-3 fw-light text-dark">+54 11 2558 2304</h5></a><a class="text-decoration-none col-lg col-12 mt-5 mt-lg-0 text-center" href="mailto:ventasmayor@aunovit.com"><img class="mx-auto d-block mb-lg-4 w-15" src="icon/sbd/contacto/img_1.png"/>
              <h5 class="display-9 mt-lg-2 mt-3 fw-light text-dark">consultas@snaiderbrothers.com</h5></a></div>
        </div>
      </section>
      <section class="bg-white">
        <div class="container my-md-6 pb-md-7 pt-6">
          <h2 class="text-center"><span class="fw-light">Muchas gracias por escribirnos,</span>
            <b class="fw-bold text-primary">a la brevedad <br/> nuestro equipo se pondrá en contacto</b>
          </h2>
        </div>
      </section>
    </main>
    <script src="js/jquery.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
    <script src="js/jquery.validate.js"> </script>
    <script src="js/main.js"></script>
    <div class="top-footer bg-light"><img class="w-100 mt-lg-n6 mt-n4" src="img/footer/background.svg" alt="Background"/>
      <footer class="container pb-6 pt-2">
        <div class="row">
          <div class="col-md-6 col-lg-4 col-12 d-md-block d-flex justify-content-center px-lg-0">
            <div>
              <div><a href="./index.html"><img src="img/logo.svg" alt="Logo"/></a></div>
              <div class="mt-lg-5 d-flex align-items-center justify-content-center justify-content-md-start mt-4"><a class="btn btn-dark" href="./proximamente.html">LOGIN<img class="ms-2" src="icon/sbd/arrow-rigth.svg"/></a></div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 col-6 mx-auto mt-2 mt-lg-0 px-lg-0">
            <div class="d-flex justify-content-center d-lg-none mt-5 d-md-none d-block"><a href="mailto:sbd@example.com" target="_blank"><img src="icon/sbd/email.svg" style="width:50px"/></a><a class="mx-5" href="tel:00000000000" target="_blank"><img src="icon/sbd/headphone.svg" style="width:50px"/></a><a href="https://wa.me/00000000000" target="_blank"><img src="icon/sbd/whatsapp.svg" style="width:50px"/></a></div>
            <ul class="nav flex-column d-md-block d-none">
              <li class="nav-item mb-md-3 justify-content-center d-flex"><a class="nav-link p-0 d-flex align-items-center hover-color" href="mailto:consultas@snaiderbrothers.com"><img class="me-3" src="icon/sbd/email.svg" alt="Email" width="40"/><span class="d-md-block d-none">consultas@snaiderbrothers.com</span></a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3 col-4 mx-auto mt-4 mt-lg-0 px-lg-0 d-md-block d-none">
            <ul class="nav flex-column ml-lg-auto">
              <li class="nav-item mb-md-3 justify-content-center d-flex"><a class="nav-link p-0 d-flex align-items-center hover-color" href="tel:+541170780417"><img class="me-3" src="icon/sbd/headphone.svg" alt="Phone" width="40"/><span class="d-md-block d-none">+54 11 7078 0417</span></a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-4 mx-auto mt-2 mt-lg-0 px-lg-0 mt-4 d-md-block d-none">
            <ul class="nav flex-column">
              <li class="nav-item mb-md-3 justify-content-center d-flex"><a class="nav-link p-0 d-flex align-items-center hover-color" href="https://wa.me/541125582304"><img class="me-3" src="icon/sbd/whatsapp.svg" alt="Whatsapp" width="40"/><span class="d-md-block d-none">+54 11 2558 2304</span></a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>

pug/contacto-send.pug
extends layouts/main.pug
block variables
    -   var title = "SBD | Contacto";

    -
        var menu = [
            {name: "HOME", url: "./index.html", active: false},
            {name: "NOSOTROS", url: "./nosotros.html", active: false},
            {name: "MARCAS", url: "./marcas.html", active: false},
            {name: "CONTACTO", url: "./contacto.html", active: true} 
        ];
block content
    section.mb-lg-7.col-12.col-md-12.px-3.px-md-auto.mb-1.bg-light.pt-lg-8.pb-lg-6.pt-7.mt-4.pb-5
        div.container
            h2.display-6.text-center.fw-bold.d-md-block.d-none #[span CANALES DE ATENCIÓN ] #[span.fw-bold.text-primary SBD]
            h2.display-5.text-center.fw-ligth.d-md-none.d-block CANALES #[br] DE ATENCIÓN
            .row.mt-lg-6
                a(href='tel:+541170780417').text-decoration-none.col-lg.col-12.mt-5.mt-lg-0.text-center.mb-lg-0.mb-5
                    img(src='icon/sbd/contacto/img.png').mx-auto.d-block.mb-lg-4.mb-3.w-15
                    h5.display-9.mt-lg-2.fw-light.text-dark
                        | +54 11 7078 0417
                a(href='https://wa.me/541125582304').text-decoration-none.col-lg.col-12.mt-2.mt-lg-0.text-center
                    img(src='icon/sbd/contacto/img_2.png').mx-auto.d-block.mb-lg-4.w-15
                    h5.display-9.mt-lg-2.mt-3.fw-light.text-dark
                        | +54 11 2558 2304
                a(href='mailto:ventasmayor@aunovit.com').text-decoration-none.col-lg.col-12.mt-5.mt-lg-0.text-center
                    img(src='icon/sbd/contacto/img_1.png').mx-auto.d-block.mb-lg-4.w-15
                    h5.display-9.mt-lg-2.mt-3.fw-light.text-dark
                        | consultas@snaiderbrothers.com
    section.bg-white
        .container.my-md-6.pb-md-7.pt-6
            h2.text-center
                | #[span.fw-light Muchas gracias por escribirnos,]
                | #[b.fw-bold.text-primary a la brevedad #[br] nuestro equipo se pondrá en contacto]
