pug/index.pug
extends layouts/main.pug
block variables
    -   var title = "SBD";

    -
        var menu = [
            { name: "HOME", url: "./index.html", active: true },
            { name: "NOSOTROS", url: "./nosotros.html", active: false },
            { name: "MARCAS", url: "./marcas.html", active: false },
            { name: "CONTACTO", url: "./contacto.html", active: false }
        ];
block content
    section.one
        div.mb-lg-9.mb-5.pt-lg-6
            .slider-home.owl-carousel.mt-lg-2.z-0.mt-6
                div
                    img(src='img/sbd-home/section_1/BannerHome01.png').w-100.d-md-inline-block.d-none
                    img(src='img/sbd-home/section_1/BannerHome01_Mob.png').w-100.d-lg-none.d-block
                    div.mt-lg-n10.mt-n11.container.align-items-center.d-md-flex.pb-lg-8.mb-10.mb-md-0
                        div.text-md-start.text-center.text-white.pt-lg-3.mt-lg-6.pt-8.mt-4
                            h4.text-warning.align-items-center.d-md-inline-flex.d-none
                                img(src='icon/sbd/start-circle.svg', width='40', height='40' style='width: 40px').me-md-4.me-3
                                span.fw-light PRODUCTO DESTACADO
                            h6.text-warning.d-flex.align-items-center.justify-content-center.justify-content-md-start.d-md-none.d-block
                                img(src='icon/sbd/start-circle.svg', width='30', height='30' style='width: 30px').me-md-4.me-3
                                span.fw-light PRODUCTO DESTACADO
                            h1.fw-semibold.text-warning.mt-lg-3 TOTAL QUARTZ #[br.d-md-none.d-block]7000 10w-40
                            h1.fw-light.mt-lg-3 Excelente limpieza y #[br] protección del motor.
                            a(href='./marcas.html').btn.btn-outline-warning.mt-lg-5.mt-3.d-md-inline-block.d-none DESCUBRÍ NUESTRAS MARCAS

                div
                    img(src='img/sbd-home/section_1/BannerHome03.png').w-100.d-md-inline-block.d-none
                    img(src='img/sbd-home/section_1/BannerHome03_Mob.png').w-100.d-lg-none.d-block
                    div.mt-lg-n10.mt-n11.container.align-items-center.d-md-flex.pb-lg-8.mb-10.mb-md-0
                        div.text-md-start.text-center.text-dark.pt-lg-3.mt-lg-6.pt-8.mt-4
                            h1.fw-light.mt-lg-3.text-white Cuidando de adentro #[br] hacia afuera, #[span.text-primary con las #[br] mejores marcas]
                            a(href='./marcas.html').btn.btn-outline-primary.mt-lg-5.mt-3.d-md-inline-block.d-none DESCUBRÍ NUESTRAS MARCAS
                div
                    img(src='img/sbd-home/section_1/BannerHome02.png').w-100.d-md-inline-block.d-none
                    img(src='img/sbd-home/section_1/BannerHome02_Mob.png').w-100.d-lg-none.d-block
                    div.mt-lg-n10.mt-n11.container.align-items-center.d-md-flex.pb-lg-8.mb-10.mb-md-0
                        div.text-md-start.text-center.text-white.pt-lg-4.mt-lg-6.pt-8.mt-4
                            h1.fw-light.mt-lg-3.text-dark Expertos mayoristas en #[br]lubricantes, aceites, #[br]filtros y escobillas
                            a(href='./marcas.html').btn.btn-warning.mt-lg-6.mt-3.d-md-inline-block.d-none.text-white DESCUBRÍ NUESTRAS MARCAS
    section.two.bg-light.pb-md-0.pb-4
        include components/_slider_section_2.pug
    section.three
        .bg-light.pt-lg-6.pb-lg-1.pb-5
            .container.mt-lg-4
                .row
                    .col-lg-4.text-center.mt-lg-0
                        img(src='icon/sbd/client.svg', width='55', height='100').mb-md-0.mb-0
                        | #[div.text-gray-400.display-5 +  #[span.counter(data-count="800") 0] ]
                        | #[div.text-primary.display-9.fw-normal.mt-lg-3 CLIENTES ]
                    hr.d-md-none.d-block.mt-5.col-7.mx-auto
                    .col-lg-4.text-center.mt-md-auto.mt-5.position-relative.rayas-vertical
                        img(src='icon/sbd/tag.svg', width='55', height='100').mb-md-0.mb-0
                        | #[div.text-gray-400.display-5 + #[span.counter(data-count="2000") 0]]
                        | #[div.text-primary.display-9.fw-normal.mt-lg-3 ARTÍCULOS DIARIOS #[br] ENTREGADOS ]
                    hr.d-md-none.d-block.mt-5.col-7.mx-auto
                    .col-lg-4.text-center.mt-md-auto.mt-5.mt-lg-0
                        img(src='icon/sbd/entrega.svg', width='55', height='100').mb-md-0.mb-0
                        | #[div.text-gray-400.display-5 + #[span.counter(data-count="360") 0]]
                        | #[div.text-primary.display-9.fw-normal.mt-lg-3 ENTREGAS DIARIAS]
        img(src='img/sbd-home/section_3/background.svg', width='100%').mt-lg-n4
    section.five.mt-lg-5
        .container
            .row
                .col-lg-6.px-lg-5.d-lg-flex.align-items-center.px-md-auto.px-0
                    div
                        h2.display-7.d-lg-inline.d-none #[span.fw-light STOCK] #[span.fw-bold.text-primary PERMANENTE]
                        h2.display-5.d-lg-none.d-block.text-center.mt-6 #[span.fw-light STOCK] #[br] #[span.fw-bold.text-primary PERMANENTE]
                        img(src='icon/sbd/raya.svg').mb-lg-3.mt-lg-4.d-md-block.d-none
                        p.fw-light.d-md-block.d-none
                            | En SBD nos destacamos fuertemente por nuestro stock permanente de
                            | productos. Nuestros clientes pueden estar seguros de que encontrarán los
                            | productos que necesitan en el momento preciso, lo que les permite mantener
                            | sus operaciones sin interrupciones y optimizar su rendimiento.
                        a(href='./marcas.html').btn.btn-primary.mt-4.text-white.fw-light.d-md-inline-block.d-none CONOCÉ LAS MARCAS QUE TRABAJAMOS
                .col-lg-6.px-md-auto.px-0
                    img(src='img/sbd-home/section_4/img.png', width='800').d-md-block.d-none
                    img(src='img/sbd-home/section_4/img_m.png', width='100%').d-md-none.d-block.my-4
                    p.fw-light.d-md-none.d-block.px-4.text-center
                        | En SBD nos destacamos fuertemente por nuestro stock permanente de
                        | productos. Nuestros clientes pueden estar seguros de que encontrarán los
                        | productos que necesitan en el momento preciso, lo que les permite mantener
                        | sus operaciones sin interrupciones y optimizar su rendimiento.
                    .d-md-none.d-flex.justify-content-center.mb-6
                        a(href='./marcas.html').btn.btn-primary.mt-4.text-white.fw-light DESCUBRÍ NUESTRAS MARCAS
        .bg-light.py-lg-6.mt-lg-6
            .container
                .row
                    .col-lg-6.px-lg-5.d-lg-flex.align-items-center.px-md-auto.px-0.d-md-flex.justify-content-md-end
                        h2.display-5.d-lg-none.d-block.text-center.mt-5 #[span.fw-light ENTREGA] #[br] #[span.fw-bold.text-primary EN 24Hs]
                        img(src='img/sbd-home/section_4/img_1.png', width='800').d-md-block.d-none
                        img(src='img/sbd-home/section_4/img_1_m.png', width='100%').d-md-none.d-block.my-4
                    .col-lg-6.px-lg-5.d-lg-flex.align-items-center
                        div
                            h2.display-7.d-lg-inline.d-none #[span.fw-light ENTREGA EN] #[span.fw-bold.text-warning 24Hs]
                            img(src='icon/sbd/raya.svg').mb-lg-3.mt-lg-4.d-md-block.d-none
                            p.fw-light.text-md-start.text-center
                                | Una de las principales ventajas de nuestra venta mayorista de lubricantes y
                                | aceites es nuestra rápida entrega en tan solo 24 horas. Este servicio ágil y
                                | eficiente nos distingue, permitiendo a nuestros clientes recibir sus pedidos de
                                | manera pronta y confiable.
                            a(href='./marcas.html').btn.btn-warning.mt-4.text-white.fw-light.d-md-inline-block.d-none CONOCÉ LAS MARCAS QUE TRABAJAMOS
                            .d-md-none.d-flex.justify-content-center.mb-6
                                a(href='./marcas.html').btn.btn-warning.mt-4.text-white.fw-light DESCUBRÍ NUESTRAS MARCAS
        .container.mt-lg-6
            .row
                .col-lg-6.px-lg-5.d-lg-flex.align-items-center.px-md-auto.px-0
                    div
                        h2.display-7.d-lg-inline.d-none #[span.fw-light ATENCIÓN] #[span.fw-bold.text-primary PERSONALIZADA]
                        h2.display-5.d-lg-none.d-block.text-center.mt-6 #[span.fw-light ATENCIÓN] #[br] #[span.fw-bold.text-primary PERSONALIZADA]
                        img(src='icon/sbd/raya.svg').mb-lg-3.mt-lg-4.d-md-block.d-none
                        p.fw-light.d-md-block.d-none
                            | Nos enorgullece brindar un servicio cercano y adaptado a las necesidades
                            | específicas de cada empresa, a quienes conocemos en profundidad. Nuestro
                            | equipo altamente capacitado está siempre disponible para asesorar y ofrecer
                            | soluciones a medida, garantizando que cada cliente reciba la atención y el
                            | apoyo que merece.
                        a(href='./marcas.html').btn.btn-primary.mt-4.text-white.fw-light.d-md-inline-block.d-none CONOCÉ LAS MARCAS QUE TRABAJAMOS
                .col-lg-6.px-md-auto.px-0
                    img(src='img/sbd-home/section_4/img_2.png', width='800').d-md-block.d-none
                    img(src='img/sbd-home/section_4/img_2_m.png', width='100%').d-md-none.d-block.my-4
                    p.fw-light.d-md-none.d-block.px-4.text-center
                        | Nos enorgullece brindar un servicio cercano y adaptado a las necesidades
                        | específicas de cada empresa, a quienes conocemos en profundidad. Nuestro
                        | equipo altamente capacitado está siempre disponible para asesorar y ofrecer
                        | soluciones a medida, garantizando que cada cliente reciba la atención y el
                        | apoyo que merece.
                    .d-md-none.d-flex.justify-content-center.mb-6
                        a(href='./marcas.html').btn.btn-primary.mt-4.text-white.fw-light DESCUBRÍ NUESTRAS MARCAS
    section.six.mt-lg-6
        div.container
            <iframe style="width:100%; aspect-ratio: 16/9;" src="https://www.youtube.com/embed/dUq7U3sfFMA?si=5m3IRdA2vtmRXBRB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    section.seven.mt-lg-7
        h2.display-7.text-center.d-md-block.d-none #[span.fw-light TESTIMONIOS DE] #[span.fw-bold.text-primary CLIENTES]
        h2.display-4.text-center.d-md-none.d-block.mt-6 #[span.fw-light TESTIMONIOS DE] #[br] #[span.fw-bold.text-primary CLIENTES]
        img(src='img/sbd-home/section_7/background.svg', width='80%').mt-lg-n6.mx-auto.d-md-block.d-none
        img(src='img/sbd-home/section_7/background_Mob.png', width='100%').mt-n8.mx-auto.d-md-none.d-block
        div.mt-n10.mt-md-n10.mt-lg-n9.mt-xl-n9.mt-xxl-n10.mt-xxxl-n10
            include components/_slider_card.pug
    section.eight
        .container.my-md-6.pb-md-7.pt-6
            h2.text-center
                | #[span.fw-light Expertos mayoristas en lubricantes, aceites, filtros y escobillas.] #[br.d-md-none.d-block]
                | #[b Resolvé las necesidades de tu negocio con las ] #[b.fw-bold.text-primary mejores prestaciones.]
            .d-flex.justify-content-center
                a(href="contacto.html").btn.btn-primary.text-white.mt-4
                    | DARME DE ALTA COMO CLIENTE

index.html

<html>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta charset="utf-8"/>
  <title>SBD</title>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&amp;display=swap" rel="stylesheet"/>
  <link href="css/bootstrap.css" rel="stylesheet"/>
  <!-- add favicon-->
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png"/>
  <link rel="manifest" href="img/favicon/site.webmanifest"/>
  <body>
    <header>
      <!---->
      <nav class="navbar navbar-expand-md fixed-top bg-white py-4 pb-lg-3 pt-lg-4 border-bottom">
        <div class="container"><a class="navbar-brand" href="./index.html">
            <embed src="img/logo.svg" type="image/png" alt="Logo"/></a>
          <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="nav nav-pills align-items-center d-lg-flex">
              <li class="nav-item me-lg-2 position-relative"><a class="nav-link active" href="./index.html">HOME</a></li>
              <li class="nav-item me-lg-2 position-relative"><a class="nav-link" href="./nosotros.html">NOSOTROS</a></li>
              <li class="nav-item me-lg-2 position-relative"><a class="nav-link" href="./marcas.html">MARCAS</a></li>
              <li class="nav-item me-lg-2 position-relative"><a class="nav-link" href="./contacto.html">CONTACTO</a></li>
              <li class="nav-item mt-4 mt-lg-auto ms-3"><a class="btn btn-dark d-flex align-items-center" href="./proximamente.html">LOGIN<img class="ms-2" src="icon/sbd/arrow-rigth.svg"/></a></li>
            </ul>
            <div class="d-flex justify-content-center d-lg-none mt-5"><a href="mailto:sbd@example.com" target="_blank"><img src="icon/sbd/email.svg"/></a><a class="mx-5" href="tel:00000000000" target="_blank"><img src="icon/sbd/headphone.svg"/></a><a href="https://wa.me/00000000000" target="_blank"><img src="icon/sbd/whatsapp.svg"/></a></div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="one">
        <div class="mb-lg-9 mb-5 pt-lg-6">
          <div class="slider-home owl-carousel mt-lg-2 z-0 mt-6">
            <div><img class="w-100 d-md-inline-block d-none" src="img/sbd-home/section_1/BannerHome01.png"/><img class="w-100 d-lg-none d-block" src="img/sbd-home/section_1/BannerHome01_Mob.png"/>
              <div class="mt-lg-n10 mt-n11 container align-items-center d-md-flex pb-lg-8 mb-10 mb-md-0">
                <div class="text-md-start text-center text-white pt-lg-3 mt-lg-6 pt-8 mt-4">
                  <h4 class="text-warning align-items-center d-md-inline-flex d-none"><img class="me-md-4 me-3" src="icon/sbd/start-circle.svg" width="40" height="40" style="width: 40px"/><span class="fw-light">PRODUCTO DESTACADO</span></h4>
                  <h6 class="text-warning d-flex align-items-center justify-content-center justify-content-md-start d-md-none d-block"><img class="me-md-4 me-3" src="icon/sbd/start-circle.svg" width="30" height="30" style="width: 30px"/><span class="fw-light">PRODUCTO DESTACADO</span></h6>
                  <h1 class="fw-semibold text-warning mt-lg-3">TOTAL QUARTZ <br class="d-md-none d-block"/>7000 10w-40</h1>
                  <h1 class="fw-light mt-lg-3">Excelente limpieza y <br/> protección del motor.</h1><a class="btn btn-outline-warning mt-lg-5 mt-3 d-md-inline-block d-none" href="./marcas.html">DESCUBRÍ NUESTRAS MARCAS</a>
                </div>
              </div>
            </div>
            <div><img class="w-100 d-md-inline-block d-none" src="img/sbd-home/section_1/BannerHome03.png"/><img class="w-100 d-lg-none d-block" src="img/sbd-home/section_1/BannerHome03_Mob.png"/>
              <div class="mt-lg-n10 mt-n11 container align-items-center d-md-flex pb-lg-8 mb-10 mb-md-0">
                <div class="text-md-start text-center text-dark pt-lg-3 mt-lg-6 pt-8 mt-4">
                  <h1 class="fw-light mt-lg-3 text-white">Cuidando de adentro <br/> hacia afuera, <span class="text-primary">con las <br/> mejores marcas</span></h1><a class="btn btn-outline-primary mt-lg-5 mt-3 d-md-inline-block d-none" href="./marcas.html">DESCUBRÍ NUESTRAS MARCAS</a>
                </div>
              </div>
            </div>
            <div><img class="w-100 d-md-inline-block d-none" src="img/sbd-home/section_1/BannerHome02.png"/><img class="w-100 d-lg-none d-block" src="img/sbd-home/section_1/BannerHome02_Mob.png"/>
              <div class="mt-lg-n10 mt-n11 container align-items-center d-md-flex pb-lg-8 mb-10 mb-md-0">
                <div class="text-md-start text-center text-white pt-lg-4 mt-lg-6 pt-8 mt-4">
                  <h1 class="fw-light mt-lg-3 text-dark">Expertos mayoristas en <br/>lubricantes, aceites, <br/>filtros y escobillas</h1><a class="btn btn-warning mt-lg-6 mt-3 d-md-inline-block d-none text-white" href="./marcas.html">DESCUBRÍ NUESTRAS MARCAS</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="two bg-light pb-md-0 pb-4">
        <div class="container pt-lg-5 col-10 col-md-12 col-lg-12 mt-lg-n10 pt-lg-6 mt-n8">
          <div class="card border-0 flex-lg-row align-items-center align-items-lg-start justify-content-center rounded-4 px-lg-4 py-lg-4 py-5 d-md-block d-none animate__animated animate__fadeInDown">
            <div class="d-block justify-content-center mt-5 mt-lg-0 mt-md-auto align-items-center d-lg-inline-block py-lg-3"><img class="w-50 mx-auto d-md-block d-none" src="img/sbd-home/section_2/img.png"/><img class="w-70 mx-auto d-md-none d-block mb-4" src="img/sbd-home/section_2/img.png"/>
              <div class="raya w-30 mb-lg-4 mt-lg-5 my-4 mx-auto d-md-block d-none"></div>
              <div class="text-center pt-lg-2">
                <p>Expertos mundiales en productos de <br/>
                  filtrado: Filtros de aceite, aire,  <br/>
                  combustible y cabina
                </p>
              </div>
            </div>
            <div class="d-block justify-content-center mt-5 mt-lg-0 mt-md-auto align-items-center d-lg-inline-block py-lg-3"><img class="w-50 mx-auto d-md-block d-none" src="img/sbd-home/section_2/img_1.png"/><img class="w-80 mx-auto d-md-none d-block mb-4" src="img/sbd-home/section_2/img_1.png"/>
              <div class="raya w-20 mb-lg-4 mt-lg-5 my-4 mx-auto d-md-block d-none"></div>
              <div class="text-center pt-lg-2">
                <p>Actor principal en el mercado de <br/>
                  lubricantes, donde operan  <br/>
                  con las marcas TotalEnergies y ELF
                </p>
              </div>
            </div>
            <div class="d-block justify-content-center mt-5 mt-lg-0 mt-md-auto align-items-center d-lg-inline-block py-lg-3"><img class="w-50 mx-auto d-md-block d-none" src="img/sbd-home/section_2/img_2.png"/><img class="w-80 mx-auto d-md-none d-block mb-4" src="img/sbd-home/section_2/img_2.png"/>
              <div class="raya w-20 mb-lg-4 mt-lg-5 my-4 mx-auto d-md-block d-none"></div>
              <div class="text-center pt-lg-2">
                <p>Líder mundial en la fabricación de  <br/>
                  sistemas limpiaparabrisas <br/>
                  <br/>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="owl2 owl-carousel d-md-none d-block">
          <div class="card border-0 flex-lg-row align-items-center justify-content-center rounded-4 px-lg-4 py-lg-5 py-5 my-3">
            <div class="d-block justify-content-center mt-0 mt-lg-0 mt-md-auto align-items-center d-lg-block"><img class="w-50 mx-auto mb-4" src="img/sbd-home/section_2/img.png"/>
              <div class="raya w-30 mb-lg-4 mt-lg-5 my-4 mx-auto"></div>
              <div class="text-center pt-lg-2">
                <p>Expertos mundiales en productos de <br/>
                  filtrado: Filtros de aceite, aire,  <br/>
                  combustible y cabina
                </p>
              </div>
            </div>
          </div>
          <div class="card border-0 flex-lg-row align-items-center justify-content-center rounded-4 px-lg-4 py-lg-5 py-5 mx-5 my-3">
            <div class="d-block justify-content-center mt-0 mt-lg-0 mt-md-auto align-items-center d-lg-block"><img class="w-75 mx-auto mb-4" src="img/sbd-home/section_2/img_1.png"/>
              <div class="raya w-20 mb-lg-4 mt-lg-5 my-4 mx-auto"></div>
              <div class="text-center pt-lg-2">
                <p>Actor principal en el mercado de <br/>
                  lubricantes, donde operan  <br/>
                  con las marcas TotalEnergies y ELF
                </p>
              </div>
            </div>
          </div>
          <div class="card border-0 flex-lg-row align-items-top justify-content-center rounded-4 px-lg-4 py-lg-5 py-5 my-3">
            <div class="d-block justify-content-center mt-0 mt-lg-0 mt-md-auto align-items-center d-lg-block"><img class="w-50 mx-auto mb-4" src="img/sbd-home/section_2/img_2.png"/>
              <div class="raya w-30 mb-lg-4 mt-lg-3 my-4 mx-auto"></div>
              <div class="text-center pt-lg-2">
                <p>Líder mundial en la fabricación de  <br/>
                  sistemas limpiaparabrisas
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="three">
        <div class="bg-light pt-lg-6 pb-lg-1 pb-5">
          <div class="container mt-lg-4">
            <div class="row">
              <div class="col-lg-4 text-center mt-lg-0"><img class="mb-md-0 mb-0" src="icon/sbd/client.svg" width="55" height="100"/>
                <div class="text-gray-400 display-5">+  <span class="counter" data-count="800">0</span> </div>
                
                <div class="text-primary display-9 fw-normal mt-lg-3">CLIENTES </div>
              </div>
              <hr class="d-md-none d-block mt-5 col-7 mx-auto"/>
              <div class="col-lg-4 text-center mt-md-auto mt-5 position-relative rayas-vertical"><img class="mb-md-0 mb-0" src="icon/sbd/tag.svg" width="55" height="100"/>
                <div class="text-gray-400 display-5">+ <span class="counter" data-count="2000">0</span></div>
                
                <div class="text-primary display-9 fw-normal mt-lg-3">ARTÍCULOS DIARIOS <br/> ENTREGADOS </div>
              </div>
              <hr class="d-md-none d-block mt-5 col-7 mx-auto"/>
              <div class="col-lg-4 text-center mt-md-auto mt-5 mt-lg-0"><img class="mb-md-0 mb-0" src="icon/sbd/entrega.svg" width="55" height="100"/>
                <div class="text-gray-400 display-5">+ <span class="counter" data-count="360">0</span></div>
                
                <div class="text-primary display-9 fw-normal mt-lg-3">ENTREGAS DIARIAS</div>
              </div>
            </div>
          </div>
        </div><img class="mt-lg-n4" src="img/sbd-home/section_3/background.svg" width="100%"/>
      </section>
      <section class="five mt-lg-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 px-lg-5 d-lg-flex align-items-center px-md-auto px-0">
              <div>
                <h2 class="display-7 d-lg-inline d-none"><span class="fw-light">STOCK</span> <span class="fw-bold text-primary">PERMANENTE</span></h2>
                <h2 class="display-5 d-lg-none d-block text-center mt-6"><span class="fw-light">STOCK</span> <br/> <span class="fw-bold text-primary">PERMANENTE</span></h2><img class="mb-lg-3 mt-lg-4 d-md-block d-none" src="icon/sbd/raya.svg"/>
                <p class="fw-light d-md-block d-none">
                  En SBD nos destacamos fuertemente por nuestro stock permanente de
                  productos. Nuestros clientes pueden estar seguros de que encontrarán los
                  productos que necesitan en el momento preciso, lo que les permite mantener
                  sus operaciones sin interrupciones y optimizar su rendimiento.
                </p><a class="btn btn-primary mt-4 text-white fw-light d-md-inline-block d-none" href="./marcas.html">CONOCÉ LAS MARCAS QUE TRABAJAMOS</a>
              </div>
            </div>
            <div class="col-lg-6 px-md-auto px-0"><img class="d-md-block d-none" src="img/sbd-home/section_4/img.png" width="800"/><img class="d-md-none d-block my-4" src="img/sbd-home/section_4/img_m.png" width="100%"/>
              <p class="fw-light d-md-none d-block px-4 text-center">
                En SBD nos destacamos fuertemente por nuestro stock permanente de
                productos. Nuestros clientes pueden estar seguros de que encontrarán los
                productos que necesitan en el momento preciso, lo que les permite mantener
                sus operaciones sin interrupciones y optimizar su rendimiento.
              </p>
              <div class="d-md-none d-flex justify-content-center mb-6"><a class="btn btn-primary mt-4 text-white fw-light" href="./marcas.html">DESCUBRÍ NUESTRAS MARCAS</a></div>
            </div>
          </div>
        </div>
        <div class="bg-light py-lg-6 mt-lg-6">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 px-lg-5 d-lg-flex align-items-center px-md-auto px-0 d-md-flex justify-content-md-end">
                <h2 class="display-5 d-lg-none d-block text-center mt-5"><span class="fw-light">ENTREGA</span> <br/> <span class="fw-bold text-primary">EN 24Hs</span></h2><img class="d-md-block d-none" src="img/sbd-home/section_4/img_1.png" width="800"/><img class="d-md-none d-block my-4" src="img/sbd-home/section_4/img_1_m.png" width="100%"/>
              </div>
              <div class="col-lg-6 px-lg-5 d-lg-flex align-items-center">
                <div>
                  <h2 class="display-7 d-lg-inline d-none"><span class="fw-light">ENTREGA EN</span> <span class="fw-bold text-warning">24Hs</span></h2><img class="mb-lg-3 mt-lg-4 d-md-block d-none" src="icon/sbd/raya.svg"/>
                  <p class="fw-light text-md-start text-center">
                    Una de las principales ventajas de nuestra venta mayorista de lubricantes y
                    aceites es nuestra rápida entrega en tan solo 24 horas. Este servicio ágil y
                    eficiente nos distingue, permitiendo a nuestros clientes recibir sus pedidos de
                    manera pronta y confiable.
                  </p><a class="btn btn-warning mt-4 text-white fw-light d-md-inline-block d-none" href="./marcas.html">CONOCÉ LAS MARCAS QUE TRABAJAMOS</a>
                  <div class="d-md-none d-flex justify-content-center mb-6"><a class="btn btn-warning mt-4 text-white fw-light" href="./marcas.html">DESCUBRÍ NUESTRAS MARCAS</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container mt-lg-6">
          <div class="row">
            <div class="col-lg-6 px-lg-5 d-lg-flex align-items-center px-md-auto px-0">
              <div>
                <h2 class="display-7 d-lg-inline d-none"><span class="fw-light">ATENCIÓN</span> <span class="fw-bold text-primary">PERSONALIZADA</span></h2>
                <h2 class="display-5 d-lg-none d-block text-center mt-6"><span class="fw-light">ATENCIÓN</span> <br/> <span class="fw-bold text-primary">PERSONALIZADA</span></h2><img class="mb-lg-3 mt-lg-4 d-md-block d-none" src="icon/sbd/raya.svg"/>
                <p class="fw-light d-md-block d-none">
                  Nos enorgullece brindar un servicio cercano y adaptado a las necesidades
                  específicas de cada empresa, a quienes conocemos en profundidad. Nuestro
                  equipo altamente capacitado está siempre disponible para asesorar y ofrecer
                  soluciones a medida, garantizando que cada cliente reciba la atención y el
                  apoyo que merece.
                </p><a class="btn btn-primary mt-4 text-white fw-light d-md-inline-block d-none" href="./marcas.html">CONOCÉ LAS MARCAS QUE TRABAJAMOS</a>
              </div>
            </div>
            <div class="col-lg-6 px-md-auto px-0"><img class="d-md-block d-none" src="img/sbd-home/section_4/img_2.png" width="800"/><img class="d-md-none d-block my-4" src="img/sbd-home/section_4/img_2_m.png" width="100%"/>
              <p class="fw-light d-md-none d-block px-4 text-center">
                Nos enorgullece brindar un servicio cercano y adaptado a las necesidades
                específicas de cada empresa, a quienes conocemos en profundidad. Nuestro
                equipo altamente capacitado está siempre disponible para asesorar y ofrecer
                soluciones a medida, garantizando que cada cliente reciba la atención y el
                apoyo que merece.
              </p>
              <div class="d-md-none d-flex justify-content-center mb-6"><a class="btn btn-primary mt-4 text-white fw-light" href="./marcas.html">DESCUBRÍ NUESTRAS MARCAS</a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="six mt-lg-6">
        <div class="container"><iframe style="width:100%; aspect-ratio: 16/9;" src="https://www.youtube.com/embed/dUq7U3sfFMA?si=5m3IRdA2vtmRXBRB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
      </section>
      <section class="seven mt-lg-7">
        <h2 class="display-7 text-center d-md-block d-none"><span class="fw-light">TESTIMONIOS DE</span> <span class="fw-bold text-primary">CLIENTES</span></h2>
        <h2 class="display-4 text-center d-md-none d-block mt-6"><span class="fw-light">TESTIMONIOS DE</span> <br/> <span class="fw-bold text-primary">CLIENTES</span></h2><img class="mt-lg-n6 mx-auto d-md-block d-none" src="img/sbd-home/section_7/background.svg" width="80%"/><img class="mt-n8 mx-auto d-md-none d-block" src="img/sbd-home/section_7/background_Mob.png" width="100%"/>
        <div class="mt-n10 mt-md-n10 mt-lg-n9 mt-xl-n9 mt-xxl-n10 mt-xxxl-n10">
          <section class="col-lg-8 col-xxl-7 mx-auto mt-lg-5 mb-lg-7">
            <div class="owl1 owl-carousel">
              <div class="border-0 col-lg-11 col-xxxl-8 my-lg-4 rounded-4 mx-4 mx-md-4 d-md-flex d-block shadow bg-white mb-3"><img class="card-img-top d-md-block d-none rounded-start-4 object-fit-cover" src="img/slider-image/img.jpeg" alt="..." style="width:40%;"/><img class="card-img-top d-md-none d-block rounded-top-4 object-fit-cover" src="img/slider-image/img.jpeg" alt="..."/>
                <div class="card-body px-lg-5 px-4 align-items-center d-flex py-4">
                  <div>
                    <h5 class="card-title fw-bold display-9 text-muted">1 / 2</h5>
                    <!--.raya.w-20.mb-lg-4.mt-lg-3.mt-3.mb-4-->
                    <p class="card-text fs-6 fw-light mt-lg-4">
                      El servicio de SBD es excepcional. Siempre dispuestos a
                      resolver cualquier consulta con amabilidad y profesionalismo.
                      Destaco la rápida entrega y buenos precios, lo cual es
                      fundamental para nuestro negocio. ¡Altamente recomendado!
                      <br/>
                      
                      <div class="fw-bold fs-5 mt-lg-5">Gabriel eluca</div>
                      
                      <div class="fw-light">Lubricentro DELUCA</div>
                    </p>
                  </div>
                </div>
              </div>
              <div class="border-0 col-lg-11 col-xxxl-8 my-lg-4 rounded-4 mx-4 mx-md-4 d-md-flex d-block shadow bg-white mb-3"><img class="card-img-top d-md-block d-none rounded-start-4 object-fit-cover" src="img/slider-image/img_1.jpeg" alt="..." style="width:40%;"/><img class="card-img-top d-md-none d-block rounded-top-4 object-fit-cover" src="img/slider-image/img_1.jpeg" alt="..."/>
                <div class="card-body px-lg-5 px-4 align-items-center d-flex py-4">
                  <div>
                    <h5 class="card-title fw-bold display-9 text-muted">2 / 2</h5>
                    <!--.raya.w-20.mb-lg-4.mt-lg-3.mt-3.mb-4-->
                    <p class="card-text fs-6 fw-light mt-lg-4">
                      Gracias a SDD nos aseguramos la más alta calidad a
                      precios competitivos. Además, la entrega ágil y
                      eficiente garantiza que nuestras ventas nunca se
                      vean comprometidas. También es para resaltar la
                      atención experta y personalizada, son un buen aliado
                      de nuestro negocio.
                      <br/>
                      
                      <div class="fw-bold fs-5 mt-lg-5">Nelson Garay y Robert Benitez</div>
                      
                      <div class="fw-light">Taller Saenz 630</div>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
      <section class="eight">
        <div class="container my-md-6 pb-md-7 pt-6">
          <h2 class="text-center"><span class="fw-light">Expertos mayoristas en lubricantes, aceites, filtros y escobillas.</span> <br class="d-md-none d-block"/>
            <b>Resolvé las necesidades de tu negocio con las </b> <b class="fw-bold text-primary">mejores prestaciones.</b>
          </h2>
          <div class="d-flex justify-content-center"><a class="btn btn-primary text-white mt-4" href="contacto.html">DARME DE ALTA COMO CLIENTE</a></div>
        </div>
      </section>
    </main>
    <script src="js/jquery.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
    <script src="js/jquery.validate.js"> </script>
    <script src="js/main.js"></script>
    <div class="top-footer bg-light"><img class="w-100 mt-lg-n6 mt-n4" src="img/footer/background.svg" alt="Background"/>
      <footer class="container pb-6 pt-2">
        <div class="row">
          <div class="col-md-6 col-lg-4 col-12 d-md-block d-flex justify-content-center px-lg-0">
            <div>
              <div><a href="./index.html"><img src="img/logo.svg" alt="Logo"/></a></div>
              <div class="mt-lg-5 d-flex align-items-center justify-content-center justify-content-md-start mt-4"><a class="btn btn-dark" href="./proximamente.html">LOGIN<img class="ms-2" src="icon/sbd/arrow-rigth.svg"/></a></div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 col-6 mx-auto mt-2 mt-lg-0 px-lg-0">
            <div class="d-flex justify-content-center d-lg-none mt-5 d-md-none d-block"><a href="mailto:sbd@example.com" target="_blank"><img src="icon/sbd/email.svg" style="width:50px"/></a><a class="mx-5" href="tel:00000000000" target="_blank"><img src="icon/sbd/headphone.svg" style="width:50px"/></a><a href="https://wa.me/00000000000" target="_blank"><img src="icon/sbd/whatsapp.svg" style="width:50px"/></a></div>
            <ul class="nav flex-column d-md-block d-none">
              <li class="nav-item mb-md-3 justify-content-center d-flex"><a class="nav-link p-0 d-flex align-items-center hover-color" href="mailto:consultas@snaiderbrothers.com"><img class="me-3" src="icon/sbd/email.svg" alt="Email" width="40"/><span class="d-md-block d-none">consultas@snaiderbrothers.com</span></a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3 col-4 mx-auto mt-4 mt-lg-0 px-lg-0 d-md-block d-none">
            <ul class="nav flex-column ml-lg-auto">
              <li class="nav-item mb-md-3 justify-content-center d-flex"><a class="nav-link p-0 d-flex align-items-center hover-color" href="tel:+541170780417"><img class="me-3" src="icon/sbd/headphone.svg" alt="Phone" width="40"/><span class="d-md-block d-none">+54 11 7078 0417</span></a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-4 mx-auto mt-2 mt-lg-0 px-lg-0 mt-4 d-md-block d-none">
            <ul class="nav flex-column">
              <li class="nav-item mb-md-3 justify-content-center d-flex"><a class="nav-link p-0 d-flex align-items-center hover-color" href="https://wa.me/541125582304"><img class="me-3" src="icon/sbd/whatsapp.svg" alt="Whatsapp" width="40"/><span class="d-md-block d-none">+54 11 2558 2304</span></a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
