pug/marcas.pug
extends layouts/main.pug
block variables
    -   var title = "SBD | Marcas";

    -
        var menu = [
            {name: "HOME", url: "./index.html", active: false},
            {name: "NOSOTROS", url: "./nosotros.html", active: false},
            {name: "MARCAS", url: "./marcas.html", active: true},
            {name: "CONTACTO", url: "./contacto.html", active: false}
        ];
block content
    section.nosotros-one.flex-wrap.d-flex.d-lg-block
        div
            img(src="img/marcas/section_1/img.png").w-100.mt-lg-6.pt-2.d-lg-block.d-none
            img(src="img/marcas/section_1/img_m.png").w-100.mt-lg-6.pt-lg-2.mt-6.d-lg-none.d-block
            .container.pt-lg-3.mt-n11.pt-8.mt-md-0
                .col-lg-5.mt-lg-n10.pt-lg-1.order-lg-1.order-0.mt-0.pt-0
                    .display-8.text-start.text-white.mt-4.mt-lg-3.px-lg-0.px-5.lh-lg.fw-lighter.d-lg-none.d-xxl-none.d-xxxl-block.d-none
                        | En SBD nos dedicamos con igual pasión a
                        | brindar el mejor servicio junto con ofrecer los
                        | productos más destacados del mercado.
                        p.d-lg-block.d-none.mt-lg-4.text-white.fw-lighter.lh-lg.display-9
                            | Por eso, cada marca con la que trabajamos en exclusiva ha
                            | sido rigurosamente seleccionada para garantizar a
                            | nuestros clientes los más altos niveles de calidad.
                    .display-9.text-start.text-white.mt-4.mt-lg-7.px-lg-0.px-5.lh-lg.fw-lighter.d-lg-none.d-xxl-block.d-xxxl-none.d-none
                        | En SBD nos dedicamos con igual pasión a
                        | brindar el mejor servicio junto con ofrecer los
                        | productos más destacados del mercado.
                        p.mt-lg-4.text-white.fw-lighter.lh-lg.display-9
                            | Por eso, cada marca con la que trabajamos en exclusiva ha
                            | sido rigurosamente seleccionada para garantizar a
                            | nuestros clientes los más altos niveles de calidad.
                    .display-9.text-start.text-white.mt-4.mt-lg-7.pt-5.px-lg-0.px-5.lh-lg.fw-lighter.d-lg-block.d-xxl-none.d-none
                        | En SBD nos dedicamos con igual pasión a
                        | brindar el mejor servicio junto con ofrecer los
                        | productos más destacados del mercado.
                        p.mt-lg-4.text-white.fw-lighter.lh-lg.display-9
                            | Por eso, cada marca con la que trabajamos en exclusiva ha
                            | sido rigurosamente seleccionada para garantizar a
                            | nuestros clientes los más altos niveles de calidad.
                    .display-9.text-center.text-white.mt-0.mt-lg-7.px-lg-0.px-4.lh-md.fw-lighter.d-lg-none.d-block
                        | En SBD nos dedicamos con igual pasión a
                        | brindar el mejor servicio junto con ofrecer los
                        | productos más destacados del mercado.
                        p.mt-4.text-white.fw-lighter.lh-lg.display-9
                            | Por eso, cada marca con la que trabajamos en exclusiva ha
                            | sido rigurosamente seleccionada para garantizar a
                            | nuestros clientes los más altos niveles de calidad.

    section.five.mt-lg-n8.mt-9.pt-4.pt-lg-0
        h2.display-7.text-center.d-md-block.d-none.mt-9 #[span.fw-light SOMOS] #[span.fw-bold.text-primary COMERCIALIZANTES OFICIALES] #[br] DE LAS SIGUIENTES MARCAS
        h2.display-5.text-center.d-md-none.d-block.mt-5 #[span.fw-light SOMOS] #[span.fw-bold.text-primary COMERCIALIZANTES OFICIALES] #[span.fw-bold DE LAS] #[br]  SIGUIENTES MARCAS
        .container
            .row
                .col-lg-6.px-lg-5.d-lg-flex.align-items-center.px-md-auto.px-0
                    div
                        .d-lg-inline.d-none
                            img(src='img/marcas/section_2/img.png').w-25
                        .d-lg-none.d-block.text-center.mt-6
                            img(src='img/marcas/section_2/img.png').w-40
                        img(src='icon/sbd/raya.svg').mb-lg-3.mt-lg-4.d-md-block.d-none
                        p.fw-light.d-md-block.d-none.mb-lg-2
                            | Desde 1917 conforma la línea más completa e innovadora de productos de
                            | visibilidad del conductor.
                        p.fw-light.d-md-block.d-none.mb-lg-2
                            | Es líder en la fabricación de limpiaparabrisas, ofreciendo siempre la más alta
                            | gama de sistemas.
                        p.fw-light.d-md-block.d-none.mb-lg-2
                            | Es importante destacar que en TRICO, se aseguran que todos los Sistemas
                            | Limpiaparabrisas que van a una planta de montaje están diseñados, fabricados
                            | y probados para las especificaciones de Equipo Original, según los
                            | requerimientos de Calidad del Cliente.
                .col-lg-6.px-md-auto
                    img(src='img/marcas/section_2/img_content.jpg', width='700').d-md-block.d-none
                    img(src='img/marcas/section_2/img_content.jpg', width='100%').d-md-none.d-block.my-4
                    p.fw-light.d-md-none.d-block.px-4.text-md-start.mb-lg-2
                        | Desde 1917 conforma la línea más completa e innovadora de productos de
                        | visibilidad del conductor.
                    p.fw-light.d-md-none.d-block.px-4.text-md-start.mb-lg-2
                        | Es líder en la fabricación de limpiaparabrisas, ofreciendo siempre la más alta
                        | gama de sistemas.
                    p.fw-light.d-md-none.d-block.px-4.text-md-start.mb-lg-2
                        | Es importante destacar que en TRICO, se aseguran que todos los Sistemas
                        | Limpiaparabrisas que van a una planta de montaje están diseñados, fabricados
                        | y probados para las especificaciones de Equipo Original, según los
                        | requerimientos de Calidad del Cliente.
        .bg-light.py-lg-5.my-lg-4.py-5
            .container
                .row
                    .col-lg-6.px-lg-5.d-lg-flex.align-items-center.px-md-auto.px-0.d-md-flex.justify-content-md-end
                        .d-lg-inline.d-none
                            img(src='img/marcas/section_2/img_1.png').w-40
                        .d-lg-none.d-block.text-center
                            img(src='img/marcas/section_2/img_1.png').w-60
                        img(src='img/marcas/section_2/img_1_content.jpg', width='700').d-md-block.d-none
                        img(src='img/marcas/section_2/img_1_content.jpg', width='100%').d-md-none.d-block.my-4
                    .col-lg-6.px-lg-5.d-lg-flex.align-items-center
                        div
                            .d-lg-inline.d-none
                                img(src='img/marcas/section_2/img_1.png').w-50
                            img(src='icon/sbd/raya.svg').mb-lg-3.mt-lg-4.d-md-block.d-none
                            p.fw-light.text-md-start.px-4.px-lg-0.mb-lg-2
                                | TotalEnergies Argentina está presente en el mercado de aceite de motor para
                                | autos, utilitarios y camiones a través de sus marcas TotalEnergies y ELF.
                            p.fw-light.text-md-start.px-4.px-lg-0.mb-lg-2
                                | Desde 1978 es en Argentina un actor primordial en el mercado de lubricantes y
                                | fitosanitarios, caracterizándose por su calidad e innovación continua.
                            p.fw-light.text-md-start.px-4.px-lg-0.mb-lg-2
                                | Total Energies es la cuarta compañía mundial de lubricantes y en SBD nos
                                | enorgullece formar parte de su familia de distribuidores oficiales.
        .container
            .row
                .col-lg-6.px-lg-5.d-lg-flex.align-items-center.px-md-auto.px-0
                    div
                        .d-lg-inline.d-none
                            img(src='img/marcas/section_2/img_2.png').w-25
                        .d-lg-none.d-block.text-center.mt-6
                            img(src='img/marcas/section_2/img_2.png').w-40
                        img(src='icon/sbd/raya.svg').mb-lg-3.mt-lg-4.d-md-block.d-none
                        p.fw-light.d-md-block.d-none.mb-lg-2
                            | FRAM® es parte de First Brands Group, un fabricante mundial de piezas de
                            | automóvil que presta sus servicios al mercado de repuestos y la industria de
                            | equipos originales en todo el mundo, con la mejor tecnología y capacidades en
                            | la ingeniería automotriz.
                        p.fw-light.d-md-block.d-none.mb-lg-2
                            | FRAM® Argentina comercializa en el país su propia marca, para el mercado de
                            | reposición. La misma está compuesta por distintas líneas de producto que
                            | apuntan a satisfacer la amplia demanda del Aftermarket.
                .col-lg-6.px-md-auto
                    img(src='img/marcas/section_2/img_2_content.jpg', width='800').d-md-block.d-none
                    img(src='img/marcas/section_2/img_2_content.jpg', width='100%').d-md-none.d-block.my-4
                    p.fw-light.d-md-none.d-block.px-4
                        | FRAM® es parte de First Brands Group, un fabricante mundial de piezas de
                        | automóvil que presta sus servicios al mercado de repuestos y la industria de
                        | equipos originales en todo el mundo, con la mejor tecnología y capacidades en
                        | la ingeniería automotriz.
                    p.fw-light.d-md-none.d-block.px-4
                        | FRAM® Argentina comercializa en el país su propia marca, para el mercado de
                        | reposición. La misma está compuesta por distintas líneas de producto que
                        | apuntan a satisfacer la amplia demanda del Aftermarket.
        .container.my-md-6.pb-md-7.pt-6
            h2.text-center ¿Aún no eres cliente?
            .d-flex.justify-content-center
                a(href="contacto.html").btn.btn-primary.text-white.mt-4
                    | CONTÁCTANOS

marcas.html

<html>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta charset="utf-8"/>
  <title>SBD | Marcas</title>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&amp;display=swap" rel="stylesheet"/>
  <link href="css/bootstrap.css" rel="stylesheet"/>
  <!-- add favicon-->
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png"/>
  <link rel="manifest" href="img/favicon/site.webmanifest"/>
  <body>
    <header>
      <!---->
      <nav class="navbar navbar-expand-md fixed-top bg-white py-4 pb-lg-3 pt-lg-4 border-bottom">
        <div class="container"><a class="navbar-brand" href="./index.html">
            <embed src="img/logo.svg" type="image/png" alt="Logo"/></a>
          <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="nav nav-pills align-items-center d-lg-flex">
              <li class="nav-item me-lg-2 position-relative"><a class="nav-link" href="./index.html">HOME</a></li>
              <li class="nav-item me-lg-2 position-relative"><a class="nav-link" href="./nosotros.html">NOSOTROS</a></li>
              <li class="nav-item me-lg-2 position-relative"><a class="nav-link active" href="./marcas.html">MARCAS</a></li>
              <li class="nav-item me-lg-2 position-relative"><a class="nav-link" href="./contacto.html">CONTACTO</a></li>
              <li class="nav-item mt-4 mt-lg-auto ms-3"><a class="btn btn-dark d-flex align-items-center" href="./proximamente.html">LOGIN<img class="ms-2" src="icon/sbd/arrow-rigth.svg"/></a></li>
            </ul>
            <div class="d-flex justify-content-center d-lg-none mt-5"><a href="mailto:sbd@example.com" target="_blank"><img src="icon/sbd/email.svg"/></a><a class="mx-5" href="tel:00000000000" target="_blank"><img src="icon/sbd/headphone.svg"/></a><a href="https://wa.me/00000000000" target="_blank"><img src="icon/sbd/whatsapp.svg"/></a></div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="nosotros-one flex-wrap d-flex d-lg-block">
        <div><img class="w-100 mt-lg-6 pt-2 d-lg-block d-none" src="img/marcas/section_1/img.png"/><img class="w-100 mt-lg-6 pt-lg-2 mt-6 d-lg-none d-block" src="img/marcas/section_1/img_m.png"/>
          <div class="container pt-lg-3 mt-n11 pt-8 mt-md-0">
            <div class="col-lg-5 mt-lg-n10 pt-lg-1 order-lg-1 order-0 mt-0 pt-0">
              <div class="display-8 text-start text-white mt-4 mt-lg-3 px-lg-0 px-5 lh-lg fw-lighter d-lg-none d-xxl-none d-xxxl-block d-none">
                En SBD nos dedicamos con igual pasión a
                brindar el mejor servicio junto con ofrecer los
                productos más destacados del mercado.
                <p class="d-lg-block d-none mt-lg-4 text-white fw-lighter lh-lg display-9">
                  Por eso, cada marca con la que trabajamos en exclusiva ha
                  sido rigurosamente seleccionada para garantizar a
                  nuestros clientes los más altos niveles de calidad.
                </p>
              </div>
              <div class="display-9 text-start text-white mt-4 mt-lg-7 px-lg-0 px-5 lh-lg fw-lighter d-lg-none d-xxl-block d-xxxl-none d-none">
                En SBD nos dedicamos con igual pasión a
                brindar el mejor servicio junto con ofrecer los
                productos más destacados del mercado.
                <p class="mt-lg-4 text-white fw-lighter lh-lg display-9">
                  Por eso, cada marca con la que trabajamos en exclusiva ha
                  sido rigurosamente seleccionada para garantizar a
                  nuestros clientes los más altos niveles de calidad.
                </p>
              </div>
              <div class="display-9 text-start text-white mt-4 mt-lg-7 pt-5 px-lg-0 px-5 lh-lg fw-lighter d-lg-block d-xxl-none d-none">
                En SBD nos dedicamos con igual pasión a
                brindar el mejor servicio junto con ofrecer los
                productos más destacados del mercado.
                <p class="mt-lg-4 text-white fw-lighter lh-lg display-9">
                  Por eso, cada marca con la que trabajamos en exclusiva ha
                  sido rigurosamente seleccionada para garantizar a
                  nuestros clientes los más altos niveles de calidad.
                </p>
              </div>
              <div class="display-9 text-center text-white mt-0 mt-lg-7 px-lg-0 px-4 lh-md fw-lighter d-lg-none d-block">
                En SBD nos dedicamos con igual pasión a
                brindar el mejor servicio junto con ofrecer los
                productos más destacados del mercado.
                <p class="mt-4 text-white fw-lighter lh-lg display-9">
                  Por eso, cada marca con la que trabajamos en exclusiva ha
                  sido rigurosamente seleccionada para garantizar a
                  nuestros clientes los más altos niveles de calidad.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="five mt-lg-n8 mt-9 pt-4 pt-lg-0">
        <h2 class="display-7 text-center d-md-block d-none mt-9"><span class="fw-light">SOMOS</span> <span class="fw-bold text-primary">COMERCIALIZANTES OFICIALES</span> <br/> DE LAS SIGUIENTES MARCAS</h2>
        <h2 class="display-5 text-center d-md-none d-block mt-5"><span class="fw-light">SOMOS</span> <span class="fw-bold text-primary">COMERCIALIZANTES OFICIALES</span> <span class="fw-bold">DE LAS</span> <br/>  SIGUIENTES MARCAS</h2>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 px-lg-5 d-lg-flex align-items-center px-md-auto px-0">
              <div>
                <div class="d-lg-inline d-none"><img class="w-25" src="img/marcas/section_2/img.png"/></div>
                <div class="d-lg-none d-block text-center mt-6"><img class="w-40" src="img/marcas/section_2/img.png"/></div><img class="mb-lg-3 mt-lg-4 d-md-block d-none" src="icon/sbd/raya.svg"/>
                <p class="fw-light d-md-block d-none mb-lg-2">
                  Desde 1917 conforma la línea más completa e innovadora de productos de
                  visibilidad del conductor.
                </p>
                <p class="fw-light d-md-block d-none mb-lg-2">
                  Es líder en la fabricación de limpiaparabrisas, ofreciendo siempre la más alta
                  gama de sistemas.
                </p>
                <p class="fw-light d-md-block d-none mb-lg-2">
                  Es importante destacar que en TRICO, se aseguran que todos los Sistemas
                  Limpiaparabrisas que van a una planta de montaje están diseñados, fabricados
                  y probados para las especificaciones de Equipo Original, según los
                  requerimientos de Calidad del Cliente.
                </p>
              </div>
            </div>
            <div class="col-lg-6 px-md-auto"><img class="d-md-block d-none" src="img/marcas/section_2/img_content.jpg" width="700"/><img class="d-md-none d-block my-4" src="img/marcas/section_2/img_content.jpg" width="100%"/>
              <p class="fw-light d-md-none d-block px-4 text-md-start mb-lg-2">
                Desde 1917 conforma la línea más completa e innovadora de productos de
                visibilidad del conductor.
              </p>
              <p class="fw-light d-md-none d-block px-4 text-md-start mb-lg-2">
                Es líder en la fabricación de limpiaparabrisas, ofreciendo siempre la más alta
                gama de sistemas.
              </p>
              <p class="fw-light d-md-none d-block px-4 text-md-start mb-lg-2">
                Es importante destacar que en TRICO, se aseguran que todos los Sistemas
                Limpiaparabrisas que van a una planta de montaje están diseñados, fabricados
                y probados para las especificaciones de Equipo Original, según los
                requerimientos de Calidad del Cliente.
              </p>
            </div>
          </div>
        </div>
        <div class="bg-light py-lg-5 my-lg-4 py-5">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 px-lg-5 d-lg-flex align-items-center px-md-auto px-0 d-md-flex justify-content-md-end">
                <div class="d-lg-inline d-none"><img class="w-40" src="img/marcas/section_2/img_1.png"/></div>
                <div class="d-lg-none d-block text-center"><img class="w-60" src="img/marcas/section_2/img_1.png"/></div><img class="d-md-block d-none" src="img/marcas/section_2/img_1_content.jpg" width="700"/><img class="d-md-none d-block my-4" src="img/marcas/section_2/img_1_content.jpg" width="100%"/>
              </div>
              <div class="col-lg-6 px-lg-5 d-lg-flex align-items-center">
                <div>
                  <div class="d-lg-inline d-none"><img class="w-50" src="img/marcas/section_2/img_1.png"/></div><img class="mb-lg-3 mt-lg-4 d-md-block d-none" src="icon/sbd/raya.svg"/>
                  <p class="fw-light text-md-start px-4 px-lg-0 mb-lg-2">
                    TotalEnergies Argentina está presente en el mercado de aceite de motor para
                    autos, utilitarios y camiones a través de sus marcas TotalEnergies y ELF.
                  </p>
                  <p class="fw-light text-md-start px-4 px-lg-0 mb-lg-2">
                    Desde 1978 es en Argentina un actor primordial en el mercado de lubricantes y
                    fitosanitarios, caracterizándose por su calidad e innovación continua.
                  </p>
                  <p class="fw-light text-md-start px-4 px-lg-0 mb-lg-2">
                    Total Energies es la cuarta compañía mundial de lubricantes y en SBD nos
                    enorgullece formar parte de su familia de distribuidores oficiales.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 px-lg-5 d-lg-flex align-items-center px-md-auto px-0">
              <div>
                <div class="d-lg-inline d-none"><img class="w-25" src="img/marcas/section_2/img_2.png"/></div>
                <div class="d-lg-none d-block text-center mt-6"><img class="w-40" src="img/marcas/section_2/img_2.png"/></div><img class="mb-lg-3 mt-lg-4 d-md-block d-none" src="icon/sbd/raya.svg"/>
                <p class="fw-light d-md-block d-none mb-lg-2">
                  FRAM® es parte de First Brands Group, un fabricante mundial de piezas de
                  automóvil que presta sus servicios al mercado de repuestos y la industria de
                  equipos originales en todo el mundo, con la mejor tecnología y capacidades en
                  la ingeniería automotriz.
                </p>
                <p class="fw-light d-md-block d-none mb-lg-2">
                  FRAM® Argentina comercializa en el país su propia marca, para el mercado de
                  reposición. La misma está compuesta por distintas líneas de producto que
                  apuntan a satisfacer la amplia demanda del Aftermarket.
                </p>
              </div>
            </div>
            <div class="col-lg-6 px-md-auto"><img class="d-md-block d-none" src="img/marcas/section_2/img_2_content.jpg" width="800"/><img class="d-md-none d-block my-4" src="img/marcas/section_2/img_2_content.jpg" width="100%"/>
              <p class="fw-light d-md-none d-block px-4">
                FRAM® es parte de First Brands Group, un fabricante mundial de piezas de
                automóvil que presta sus servicios al mercado de repuestos y la industria de
                equipos originales en todo el mundo, con la mejor tecnología y capacidades en
                la ingeniería automotriz.
              </p>
              <p class="fw-light d-md-none d-block px-4">
                FRAM® Argentina comercializa en el país su propia marca, para el mercado de
                reposición. La misma está compuesta por distintas líneas de producto que
                apuntan a satisfacer la amplia demanda del Aftermarket.
              </p>
            </div>
          </div>
        </div>
        <div class="container my-md-6 pb-md-7 pt-6">
          <h2 class="text-center">¿Aún no eres cliente?</h2>
          <div class="d-flex justify-content-center"><a class="btn btn-primary text-white mt-4" href="contacto.html">CONTÁCTANOS</a></div>
        </div>
      </section>
    </main>
    <script src="js/jquery.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
    <script src="js/jquery.validate.js"> </script>
    <script src="js/main.js"></script>
    <div class="top-footer bg-light"><img class="w-100 mt-lg-n6 mt-n4" src="img/footer/background.svg" alt="Background"/>
      <footer class="container pb-6 pt-2">
        <div class="row">
          <div class="col-md-6 col-lg-4 col-12 d-md-block d-flex justify-content-center px-lg-0">
            <div>
              <div><a href="./index.html"><img src="img/logo.svg" alt="Logo"/></a></div>
              <div class="mt-lg-5 d-flex align-items-center justify-content-center justify-content-md-start mt-4"><a class="btn btn-dark" href="./proximamente.html">LOGIN<img class="ms-2" src="icon/sbd/arrow-rigth.svg"/></a></div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 col-6 mx-auto mt-2 mt-lg-0 px-lg-0">
            <div class="d-flex justify-content-center d-lg-none mt-5 d-md-none d-block"><a href="mailto:sbd@example.com" target="_blank"><img src="icon/sbd/email.svg" style="width:50px"/></a><a class="mx-5" href="tel:00000000000" target="_blank"><img src="icon/sbd/headphone.svg" style="width:50px"/></a><a href="https://wa.me/00000000000" target="_blank"><img src="icon/sbd/whatsapp.svg" style="width:50px"/></a></div>
            <ul class="nav flex-column d-md-block d-none">
              <li class="nav-item mb-md-3 justify-content-center d-flex"><a class="nav-link p-0 d-flex align-items-center hover-color" href="mailto:consultas@snaiderbrothers.com"><img class="me-3" src="icon/sbd/email.svg" alt="Email" width="40"/><span class="d-md-block d-none">consultas@snaiderbrothers.com</span></a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3 col-4 mx-auto mt-4 mt-lg-0 px-lg-0 d-md-block d-none">
            <ul class="nav flex-column ml-lg-auto">
              <li class="nav-item mb-md-3 justify-content-center d-flex"><a class="nav-link p-0 d-flex align-items-center hover-color" href="tel:+541170780417"><img class="me-3" src="icon/sbd/headphone.svg" alt="Phone" width="40"/><span class="d-md-block d-none">+54 11 7078 0417</span></a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-4 mx-auto mt-2 mt-lg-0 px-lg-0 mt-4 d-md-block d-none">
            <ul class="nav flex-column">
              <li class="nav-item mb-md-3 justify-content-center d-flex"><a class="nav-link p-0 d-flex align-items-center hover-color" href="https://wa.me/541125582304"><img class="me-3" src="icon/sbd/whatsapp.svg" alt="Whatsapp" width="40"/><span class="d-md-block d-none">+54 11 2558 2304</span></a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
