pug/nosotros.pug
extends layouts/main.pug
block variables
    -   var title = "SBD | Nosotros";

    -
        var menu = [
            {name: "HOME", url: "./index.html", active: false},
            {name: "NOSOTROS", url: "./nosotros.html", active: true},
            {name: "MARCAS", url: "./marcas.html", active: false},
            {name: "CONTACTO", url: "./contacto.html", active: false}
        ];
block content
    section.nosotros-one.flex-wrap.d-flex.d-lg-block
        div
            img(src="img/nosotros/section_1/img.png").w-100.mt-lg-6.pt-2.d-lg-block.d-none
            img(src="img/nosotros/section_1/img_m.png").w-100.mt-lg-6.pt-lg-2.mt-6.d-lg-none.d-block
            .container.pt-lg-3.mt-n11.pt-8.mt-md-0
                .col-lg-5.mt-lg-n10.pt-lg-1.order-lg-1.order-0.mt-7.pt-0
                    .display-9.text-start.mt-4.mt-lg-6.px-lg-0.px-5.lh-lg.fw-light.d-lg-none.d-xxl-none.d-xxxl-block.d-none
                        | Nuestro objetivo como empresa es que cada
                        | cliente pueda #[strong encontrar en SBD ] no solo un
                        | proveedor mayorista de plena confianza,
                        | también un espacio de #[strong.fw-bolder asesoramiento experto]
                        | y asegurarse que con cada pedido haya una
                        | respuesta insuperable en tiempo y forma.
                    .display-9.text-start.mt-4.mt-lg-7.px-lg-0.px-5.lh-lg.fw-light.d-lg-none.d-xxl-block.d-xxxl-none.d-none
                        | Nuestro objetivo como empresa es que cada
                        | cliente pueda #[strong.fw-bolder encontrar en SBD ] no solo un
                        | proveedor mayorista de plena confianza,
                        | también un espacio de #[strong.fw-bolder asesoramiento experto]
                        | y asegurarse que con cada pedido haya una
                        | respuesta insuperable en tiempo y forma.
                    .display-9.text-start.mt-4.mt-lg-7.pt-5.px-lg-0.px-5.lh-lg.fw-light.d-lg-block.d-xxl-none.d-none
                        | Nuestro objetivo como empresa es que cada
                        | cliente pueda #[strong.fw-bolder encontrar en SBD ] no solo un
                        | proveedor mayorista de plena confianza,
                        | también un espacio de #[strong.fw-bolder asesoramiento experto]
                        | y asegurarse que con cada pedido haya una
                        | respuesta insuperable en tiempo y forma.
                    .display-9.text-center.mt-0.mt-lg-7.px-lg-0.px-4.lh-md.fw-light.d-lg-none.d-block
                        | Nuestro objetivo como empresa es que cada
                        | cliente pueda #[strong.fw-bold encontrar en SBD ] no solo un
                        | proveedor mayorista de plena confianza,
                        | también un espacio de #[strong asesoramiento experto]
                        | y asegurarse que con cada pedido haya una
                        | respuesta insuperable en tiempo y forma.
                    .justify-content-md-start.justify-content-center.d-flex.mt-4.mt-lg-5
                        a(href="./marcas.html").btn.btn-primary.text-white
                            | DESCUBRÍ NUESTRAS MARCAS
                            i.bi.bi-arrow-right.ms-2

    section.nosotros-two
        .mt-lg-6.pt-lg-3.mt-5.container.mt-9
            .row.justify-content-between
                .col-lg-5
                    p.text-md-start.text-center.mb-md-2.mb-5.fw-light
                        | SBD es una empresa establecida desde 2016 especialista en el
                        | rubro de Lubricantes y Filtros, y desde sus comienzos ha
                        | mantenido un firme compromiso de brindar un excelente
                        | servicio a los negocios del sector ofreciendo un amplio stock y
                        | la más alta calidad.
                    p.text-md-start.text-center.mb-md-2.mb-5.fw-light
                        | Trabajamos en forma exclusiva con #[a.text-primary las mejores marcas de]
                        | #[a(href="./marcas.html").text-primary lubricantes, filtros y escobillas limpiaparabrisas.] Contamos
                        | con un equipo experto y un sistema digital a medida, para
                        | asegurar la mejor atención y un proceso de pedidos eficaz.

                .col-lg-5
                    p.text-md-start.text-center.mb-md-2.mb-5.fw-light
                        | Nuestros más de 800 clientes son testimonio de nuestro
                        | compromiso en satisfacer todas las demandas de un mercado
                        | cada día más exigente.
                    p.text-md-start.text-center.mb-md-2.mb-5.fw-light
                        | SBD cuenta con un depósito central de 1.300 m² iseñado
                        | específicamente para un óptimo guardado y manipulación de
                        | productos de alto y medio volumen. uestro equipo en planta
                        | coordina y controla que todos los procesos sean seguros y ágiles.
    section.mb-lg-7.col-11.col-md-11.col-xxxxl-9.px-3.px-md-4.mb-5.mt-lg-7.mt-5.mx-lg-auto.mx-auto
        .card.border-0.px-lg-3.py-lg-5.rounded-4.px-4.py-5.d-none.d-md-block
            h1.text-center.display-6.mb-lg-6.fw-normal
                | #[span NUESTROS] #[span.text-primary VALORES]
            .row.d-lg-flex.align-items-end
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/sbd/valores/img.png').mx-auto.d-block.w-25
                    h5.display-9.mt-lg-4.mt-3.text-center.fw-normal
                        | Excelencia
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/sbd/valores/img_1.png').mx-auto.d-block.w-30
                    h5.display-9.mt-lg-4.mt-3.text-center.fw-normal
                        | Profesionalismo
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/sbd/valores/img_2.png').mx-auto.d-block.w-35
                    h5.display-9.mt-lg-4.mt-3.text-center.fw-normal
                        | Agilidad
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/sbd/valores/img_3.png').mx-auto.d-block.w-35
                    h5.display-9.mt-lg-4.mt-3.text-center.fw-normal
                        | Confiabilidad
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/sbd/valores/img_4.png').mx-auto.d-block.w-35
                    h5.display-9.mt-lg-4.mt-3.text-center.fw-normal
                        | Experiencia
                .col-lg.col-12.mt-5.mt-lg-0
                    img(src='icon/sbd/valores/img_5.png').mx-auto.d-block.w-30
                    h5.display-9.mt-lg-4.mt-3.text-center.fw-normal
                        | Servicios al cliente
        .border-0.px-lg-6.py-lg-5.rounded-4.px-4.py-4.d-block.d-md-none.card
            h1.text-center.display-6.mb-lg-6.pb-4
                | #[span NUESTROS] #[br] #[span.text-primary.fw-bold VALORES]
            .owl3.owl-carousel
                div
                    img(src='icon/sbd/valores/img.png').mx-auto.d-block.w-50
                    h5.display-8.mt-lg-4.mt-3.text-center
                        | Excelencia
                div
                    img(src='icon/sbd/valores/img_1.png').mx-auto.d-block.w-40
                    h5.display-8.mt-lg-4.mt-3.text-center
                        | Profesionalismo
                div
                    img(src='icon/sbd/valores/img_2.png').mx-auto.d-block.w-60
                    h5.display-8.mt-lg-4.mt-3.text-center
                        | Agilidad
                div
                    img(src='icon/sbd/valores/img_3.png').mx-auto.d-block.w-55
                    h5.display-8.mt-lg-4.mt-3.text-center
                        | Confiabilidad
                div
                    img(src='icon/sbd/valores/img_4.png').mx-auto.d-block.w-45
                    h5.display-8.mt-lg-4.mt-3.text-center
                        | Experiencia
                div
                    img(src='icon/sbd/valores/img_5.png').mx-auto.d-block.w-40
                    h5.display-8.mt-lg-4.mt-3.text-center
                        | Servicio al cliente

nosotros.html

<html>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta charset="utf-8"/>
  <title>SBD | Nosotros</title>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
  <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&amp;display=swap" rel="stylesheet"/>
  <link href="css/bootstrap.css" rel="stylesheet"/>
  <!-- add favicon-->
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png"/>
  <link rel="manifest" href="img/favicon/site.webmanifest"/>
  <body>
    <header>
      <!---->
      <nav class="navbar navbar-expand-md fixed-top bg-white py-4 pb-lg-3 pt-lg-4 border-bottom">
        <div class="container"><a class="navbar-brand" href="./index.html">
            <embed src="img/logo.svg" type="image/png" alt="Logo"/></a>
          <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="nav nav-pills align-items-center d-lg-flex">
              <li class="nav-item me-lg-2 position-relative"><a class="nav-link" href="./index.html">HOME</a></li>
              <li class="nav-item me-lg-2 position-relative"><a class="nav-link active" href="./nosotros.html">NOSOTROS</a></li>
              <li class="nav-item me-lg-2 position-relative"><a class="nav-link" href="./marcas.html">MARCAS</a></li>
              <li class="nav-item me-lg-2 position-relative"><a class="nav-link" href="./contacto.html">CONTACTO</a></li>
              <li class="nav-item mt-4 mt-lg-auto ms-3"><a class="btn btn-dark d-flex align-items-center" href="./proximamente.html">LOGIN<img class="ms-2" src="icon/sbd/arrow-rigth.svg"/></a></li>
            </ul>
            <div class="d-flex justify-content-center d-lg-none mt-5"><a href="mailto:sbd@example.com" target="_blank"><img src="icon/sbd/email.svg"/></a><a class="mx-5" href="tel:00000000000" target="_blank"><img src="icon/sbd/headphone.svg"/></a><a href="https://wa.me/00000000000" target="_blank"><img src="icon/sbd/whatsapp.svg"/></a></div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="nosotros-one flex-wrap d-flex d-lg-block">
        <div><img class="w-100 mt-lg-6 pt-2 d-lg-block d-none" src="img/nosotros/section_1/img.png"/><img class="w-100 mt-lg-6 pt-lg-2 mt-6 d-lg-none d-block" src="img/nosotros/section_1/img_m.png"/>
          <div class="container pt-lg-3 mt-n11 pt-8 mt-md-0">
            <div class="col-lg-5 mt-lg-n10 pt-lg-1 order-lg-1 order-0 mt-7 pt-0">
              <div class="display-9 text-start mt-4 mt-lg-6 px-lg-0 px-5 lh-lg fw-light d-lg-none d-xxl-none d-xxxl-block d-none">
                Nuestro objetivo como empresa es que cada
                cliente pueda <strong>encontrar en SBD </strong> no solo un
                proveedor mayorista de plena confianza,
                también un espacio de <strong class="fw-bolder">asesoramiento experto</strong>
                y asegurarse que con cada pedido haya una
                respuesta insuperable en tiempo y forma.
              </div>
              <div class="display-9 text-start mt-4 mt-lg-7 px-lg-0 px-5 lh-lg fw-light d-lg-none d-xxl-block d-xxxl-none d-none">
                Nuestro objetivo como empresa es que cada
                cliente pueda <strong class="fw-bolder">encontrar en SBD </strong> no solo un
                proveedor mayorista de plena confianza,
                también un espacio de <strong class="fw-bolder">asesoramiento experto</strong>
                y asegurarse que con cada pedido haya una
                respuesta insuperable en tiempo y forma.
              </div>
              <div class="display-9 text-start mt-4 mt-lg-7 pt-5 px-lg-0 px-5 lh-lg fw-light d-lg-block d-xxl-none d-none">
                Nuestro objetivo como empresa es que cada
                cliente pueda <strong class="fw-bolder">encontrar en SBD </strong> no solo un
                proveedor mayorista de plena confianza,
                también un espacio de <strong class="fw-bolder">asesoramiento experto</strong>
                y asegurarse que con cada pedido haya una
                respuesta insuperable en tiempo y forma.
              </div>
              <div class="display-9 text-center mt-0 mt-lg-7 px-lg-0 px-4 lh-md fw-light d-lg-none d-block">
                Nuestro objetivo como empresa es que cada
                cliente pueda <strong class="fw-bold">encontrar en SBD </strong> no solo un
                proveedor mayorista de plena confianza,
                también un espacio de <strong>asesoramiento experto</strong>
                y asegurarse que con cada pedido haya una
                respuesta insuperable en tiempo y forma.
              </div>
              <div class="justify-content-md-start justify-content-center d-flex mt-4 mt-lg-5"><a class="btn btn-primary text-white" href="./marcas.html">DESCUBRÍ NUESTRAS MARCAS<i class="bi bi-arrow-right ms-2"></i></a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="nosotros-two">
        <div class="mt-lg-6 pt-lg-3 mt-5 container mt-9">
          <div class="row justify-content-between">
            <div class="col-lg-5">
              <p class="text-md-start text-center mb-md-2 mb-5 fw-light">
                SBD es una empresa establecida desde 2016 especialista en el
                rubro de Lubricantes y Filtros, y desde sus comienzos ha
                mantenido un firme compromiso de brindar un excelente
                servicio a los negocios del sector ofreciendo un amplio stock y
                la más alta calidad.
              </p>
              <p class="text-md-start text-center mb-md-2 mb-5 fw-light">Trabajamos en forma exclusiva con <a class="text-primary">las mejores marcas de</a>
                <a class="text-primary" href="./marcas.html">lubricantes, filtros y escobillas limpiaparabrisas.</a> Contamos
                con un equipo experto y un sistema digital a medida, para
                asegurar la mejor atención y un proceso de pedidos eficaz.
              </p>
            </div>
            <div class="col-lg-5">
              <p class="text-md-start text-center mb-md-2 mb-5 fw-light">
                Nuestros más de 800 clientes son testimonio de nuestro
                compromiso en satisfacer todas las demandas de un mercado
                cada día más exigente.
              </p>
              <p class="text-md-start text-center mb-md-2 mb-5 fw-light">
                SBD cuenta con un depósito central de 1.300 m² iseñado
                específicamente para un óptimo guardado y manipulación de
                productos de alto y medio volumen. uestro equipo en planta
                coordina y controla que todos los procesos sean seguros y ágiles.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="mb-lg-7 col-11 col-md-11 col-xxxxl-9 px-3 px-md-4 mb-5 mt-lg-7 mt-5 mx-lg-auto mx-auto">
        <div class="card border-0 px-lg-3 py-lg-5 rounded-4 px-4 py-5 d-none d-md-block">
          <h1 class="text-center display-6 mb-lg-6 fw-normal"><span>NUESTROS</span> <span class="text-primary">VALORES</span></h1>
          <div class="row d-lg-flex align-items-end">
            <div class="col-lg col-12 mt-5 mt-lg-0"><img class="mx-auto d-block w-25" src="icon/sbd/valores/img.png"/>
              <h5 class="display-9 mt-lg-4 mt-3 text-center fw-normal">Excelencia</h5>
            </div>
            <div class="col-lg col-12 mt-5 mt-lg-0"><img class="mx-auto d-block w-30" src="icon/sbd/valores/img_1.png"/>
              <h5 class="display-9 mt-lg-4 mt-3 text-center fw-normal">Profesionalismo</h5>
            </div>
            <div class="col-lg col-12 mt-5 mt-lg-0"><img class="mx-auto d-block w-35" src="icon/sbd/valores/img_2.png"/>
              <h5 class="display-9 mt-lg-4 mt-3 text-center fw-normal">Agilidad</h5>
            </div>
            <div class="col-lg col-12 mt-5 mt-lg-0"><img class="mx-auto d-block w-35" src="icon/sbd/valores/img_3.png"/>
              <h5 class="display-9 mt-lg-4 mt-3 text-center fw-normal">Confiabilidad</h5>
            </div>
            <div class="col-lg col-12 mt-5 mt-lg-0"><img class="mx-auto d-block w-35" src="icon/sbd/valores/img_4.png"/>
              <h5 class="display-9 mt-lg-4 mt-3 text-center fw-normal">Experiencia</h5>
            </div>
            <div class="col-lg col-12 mt-5 mt-lg-0"><img class="mx-auto d-block w-30" src="icon/sbd/valores/img_5.png"/>
              <h5 class="display-9 mt-lg-4 mt-3 text-center fw-normal">Servicios al cliente</h5>
            </div>
          </div>
        </div>
        <div class="border-0 px-lg-6 py-lg-5 rounded-4 px-4 py-4 d-block d-md-none card">
          <h1 class="text-center display-6 mb-lg-6 pb-4"><span>NUESTROS</span> <br/> <span class="text-primary fw-bold">VALORES</span></h1>
          <div class="owl3 owl-carousel">
            <div><img class="mx-auto d-block w-50" src="icon/sbd/valores/img.png"/>
              <h5 class="display-8 mt-lg-4 mt-3 text-center">Excelencia</h5>
            </div>
            <div><img class="mx-auto d-block w-40" src="icon/sbd/valores/img_1.png"/>
              <h5 class="display-8 mt-lg-4 mt-3 text-center">Profesionalismo</h5>
            </div>
            <div><img class="mx-auto d-block w-60" src="icon/sbd/valores/img_2.png"/>
              <h5 class="display-8 mt-lg-4 mt-3 text-center">Agilidad</h5>
            </div>
            <div><img class="mx-auto d-block w-55" src="icon/sbd/valores/img_3.png"/>
              <h5 class="display-8 mt-lg-4 mt-3 text-center">Confiabilidad</h5>
            </div>
            <div><img class="mx-auto d-block w-45" src="icon/sbd/valores/img_4.png"/>
              <h5 class="display-8 mt-lg-4 mt-3 text-center">Experiencia</h5>
            </div>
            <div><img class="mx-auto d-block w-40" src="icon/sbd/valores/img_5.png"/>
              <h5 class="display-8 mt-lg-4 mt-3 text-center">Servicio al cliente</h5>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="js/jquery.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
    <script src="js/jquery.validate.js"> </script>
    <script src="js/main.js"></script>
    <div class="top-footer bg-light"><img class="w-100 mt-lg-n6 mt-n4" src="img/footer/background.svg" alt="Background"/>
      <footer class="container pb-6 pt-2">
        <div class="row">
          <div class="col-md-6 col-lg-4 col-12 d-md-block d-flex justify-content-center px-lg-0">
            <div>
              <div><a href="./index.html"><img src="img/logo.svg" alt="Logo"/></a></div>
              <div class="mt-lg-5 d-flex align-items-center justify-content-center justify-content-md-start mt-4"><a class="btn btn-dark" href="./proximamente.html">LOGIN<img class="ms-2" src="icon/sbd/arrow-rigth.svg"/></a></div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 col-6 mx-auto mt-2 mt-lg-0 px-lg-0">
            <div class="d-flex justify-content-center d-lg-none mt-5 d-md-none d-block"><a href="mailto:sbd@example.com" target="_blank"><img src="icon/sbd/email.svg" style="width:50px"/></a><a class="mx-5" href="tel:00000000000" target="_blank"><img src="icon/sbd/headphone.svg" style="width:50px"/></a><a href="https://wa.me/00000000000" target="_blank"><img src="icon/sbd/whatsapp.svg" style="width:50px"/></a></div>
            <ul class="nav flex-column d-md-block d-none">
              <li class="nav-item mb-md-3 justify-content-center d-flex"><a class="nav-link p-0 d-flex align-items-center hover-color" href="mailto:consultas@snaiderbrothers.com"><img class="me-3" src="icon/sbd/email.svg" alt="Email" width="40"/><span class="d-md-block d-none">consultas@snaiderbrothers.com</span></a></li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3 col-4 mx-auto mt-4 mt-lg-0 px-lg-0 d-md-block d-none">
            <ul class="nav flex-column ml-lg-auto">
              <li class="nav-item mb-md-3 justify-content-center d-flex"><a class="nav-link p-0 d-flex align-items-center hover-color" href="tel:+541170780417"><img class="me-3" src="icon/sbd/headphone.svg" alt="Phone" width="40"/><span class="d-md-block d-none">+54 11 7078 0417</span></a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-4 mx-auto mt-2 mt-lg-0 px-lg-0 mt-4 d-md-block d-none">
            <ul class="nav flex-column">
              <li class="nav-item mb-md-3 justify-content-center d-flex"><a class="nav-link p-0 d-flex align-items-center hover-color" href="https://wa.me/541125582304"><img class="me-3" src="icon/sbd/whatsapp.svg" alt="Whatsapp" width="40"/><span class="d-md-block d-none">+54 11 2558 2304</span></a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
